<div id="MainContainer">
    <div id="title">
        <h1>{{data.function.title}}</h1>
    </div>
    <table>
        <tr>
            <th>Titre</th>
            <td>{{data.function.title}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{data.function.description}}</td>
        </tr>
        <tr>
            <th>Permission</th>
            <td>{{getPermission(data.function.permissionId)}}</td>
        </tr>
    </table>
    <button id="returnBtn" mat-dialog-close  mat-raised-button color="accent">Retourner</button>
    <div id="footer">
        <div mat-ripple mat-dialog-close (click)="openUpdateFunctionDialog(data.function)" id="update"><mat-icon>settings</mat-icon></div>
        <div mat-ripple mat-dialog-close (click)="openDeleteFunctionDialog(data.function)" id="delete"><mat-icon>delete</mat-icon></div>
      </div>
</div>
