*{box-sizing: border-box;font-size: small;}
#MainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    padding-top: 5vh;
}
#Header{
    width: 100vw;
    height: 8vh;
    padding: 0 2vw 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: +2;

}
.mat-paginator-container{
    display: initial !important;
}
#HeaderTitle h1{
    font-weight: 500 !important;
    margin : 0;
    color:#3a3a3a;
    font-size: 15px;
    margin-left: 18vw;
}
#HeaderContent{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#title{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2vh;
    border-bottom: 1px solid rgb(221, 221, 221);
}
h1:nth-child(2){
    color: black;
    font-weight: bold;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#UserImage{
    width: 9vmax;
    height: 9vmax;
    border-radius: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    padding: 5vw;
}
th{
    color : rgb(182, 182, 182);
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
tr :nth-child(2){
    padding-left: 3vw;
}
table .material-icons{
    font-size: 20px;
}
#returnBtn{
    width: 100%;
    margin-top: 2vh;
    color: white;
    background-color: #F87F76;
}
#footer{
    margin-top: 2vh;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 1vh;
}
#footer div:hover{
    cursor: pointer;
}
#update{
    background-color: #ffe78f;
    color: #e9b600;
    padding: 4vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 5%);

}
#delete{
    background-color: rgb(255, 169, 169);
    color: rgb(233, 16, 16);
    padding: 4vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 2px 0 rgb(0 0 0 / 5%);

}
mat-icon{
    font-size: x-large;
}