<div id="Header">
    <div id="HeaderTitle">
        <h1>Historique</h1>
    </div>
    <div id="HeaderContent">
    </div>
</div>
<div id="MainContainer">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Messages">
            <div id="historyContainer">
                <div style="display: flex;width: 100%;justify-content: space-between;align-items: center;">
                    <h2>Messages</h2>
                    <div id="selectAll" (click)="this.userSelected = -1;getHistory()">Tous les utilisateurs</div>
                </div>
                <h1 id="noMessages" *ngIf="!loading&&history&&history.length == 0">Pas de messages</h1>
                <ng-container *ngIf="history">
                    <div *ngFor="let h of history" class="history">
                        <div class="userHistory">
                            <span *ngIf="users">{{getUserById(h.userId).username}}</span>
                            <mat-icon class="action" style="color:rgb(138, 138, 138)" [matMenuTriggerFor]="actionMenu"
                                aria-hidden="false">more_horiz</mat-icon>
                            <mat-menu #actionMenu="matMenu">
                                <button (click)="pinRule(h.ruleTitle)" mat-menu-item>
                                    <mat-icon>push_pin</mat-icon>
                                    <span>Epingler régle</span>
                                </button>
                                <button
                                    *ngIf="signedInUser.userType == 'Administrateur' || signedInUserPermission.title == 'Gerer les regles et consulter historique' ||  signedInUserPermission.title == 'Gerer les regles'"
                                    (click)="openRuleDetailsDialog(h.ruleTitle)" mat-menu-item>
                                    <mat-icon>visibility</mat-icon>
                                    <span>Consulter régle</span>
                                </button>
                                <button *ngIf="signedInUser.userType == 'Administrateur'"
                                    (click)="openUserDetailsDialog(getUserById(h.userId).username)" mat-menu-item>
                                    <mat-icon>person</mat-icon>
                                    <span>Consulter utilisateur</span>
                                </button>
                                <button *ngIf="signedInUser.userType == 'Administrateur'"
                                    (click)="deleteMessageHistory(h.id)" mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Supprimer message</span>
                                </button>
                            </mat-menu>
                        </div>
                        <span class="message">message : {{h.message}}</span>
                        <span class="ruleTitle">Titre de la règle d'utilisation : {{h.ruleTitle}}</span>
                        <span class="historyDate">{{h.date}}</span>
                    </div>
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Utilisateurs">
            <div id="usersContainer">
                <div id="filterContainer">
                    <div id="filter">
                        <input id="filterInput" placeholder="Chercher" #filter (keyup)="applyFilter(filter.value)"
                            type="text">
                        <span id="filterIcon" class="material-icons-outlined">search</span>
                    </div>
                </div>
                <div *ngIf="users.length>0 && userFunctions.length == users.length" id="users">
                    <mat-list role="list">
                        <ng-container *ngFor="let u of filteredUsers;let i = index">
                            <mat-list-item (click)="userSelected = u.id;getHistory()"
                                [ngClass]="u.id==userSelected?'selectedUser':''" role="listitem">
                                <div [ngStyle]="{backgroundColor:avatarColors[i]}" id="UserImage"
                                    style="margin-right: 0.5vw;">{{u.username[0].toUpperCase()}}</div>
                                <div
                                    style="display: flex;justify-content: center;align-items: center;flex-direction: column;align-items: flex-start;justify-content: center;">
                                    <div class="name" mat-line>{{u.name}}&nbsp;{{u.lastname}}</div>
                                    <div class="function" mat-line>{{userFunctions[i].title}}</div>
                                </div>
                            </mat-list-item>
                        </ng-container>
                    </mat-list>
                </div>
            </div>
            
        </mat-tab>
        <mat-tab label="Date">
            <div id="calender">
                <div id="monthYear">
                    <mat-form-field id="month">
                        <mat-select (selectionChange)="getDaysInMonth(selectedMonth,selectedYear);getHistory()"
                            [(ngModel)]="selectedMonth">
                            <mat-option *ngFor="let m of months;let i = index" [value]="m.number">{{m.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field id="year">
                        <mat-select (selectionChange)="getDaysInMonth(selectedMonth,selectedYear);getHistory()"
                            [(ngModel)]="selectedYear">
                            <mat-option value="2021">2021</mat-option>
                            <mat-option value="2020">2020</mat-option>
                            <mat-option value="2019">2019</mat-option>
                            <mat-option value="2018">2018</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div id="days">
                    <div mat-ripple class="day" *ngFor="let d of daysChar;let i = index"
                        [ngClass]="daysNum[i] == selectedDay?'selectedDay':'notSelected'"
                        (click)="selectDay(daysNum[i]);getHistory()">
                        <span class="dayChar">{{d}}</span>
                        <span class="dayNum">{{daysNum[i]}}</span>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <mat-progress-bar *ngIf="loading" id="loader" mode="indeterminate"></mat-progress-bar>

</div>