*{box-sizing: border-box;font-size: small;}
#Header{
    width: 100vw;
    height: 8vh;
    padding: 0 2vw 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: +2;

}
.mat-paginator-container{
    display: initial !important;
}
#HeaderTitle h1{
    font-weight: 500 !important;
    margin : 0;
    color:#3a3a3a;
    font-size: 15px;
    margin-left: 18vw;
}
#HeaderContent{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    overflow: hidden;
}
#MainContainer{
    width: 100vw;
    height: fit-content;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
#filterContainer{
    width: 20%;
}
#table{
    width: 100%;
    background-color: transparent;
    border-collapse:separate;
    border-spacing:0 15px;
}
#table tr:nth-child(1) th{
    background-color: #fafafa;
    font-weight: bold;
    position: sticky;
    top: 0;
    user-select: none;

}
#table tr:hover{
    cursor: pointer;
}
#paginator{
    bottom: 0;
    position: sticky;
    background-color: white;
    width: 100%;
    display: flex;
}
#addFilterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 90%;
    justify-content: space-between;
    margin-top: 5vh;
}
::ng-deep mat-dialog-container{
    padding:0 !important;
}
#loader{
    width: 25%;
}
#UserImage{
    width: 3.5vmax;
    height: 3.5vmax;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    padding: 1vw;
    //box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.displayed{
   
}
.notDisplayed{
    display: none !important;
}
#filter{
    display: flex;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding-left: 1vh;
    color: rgb(143, 143, 143);
    background-color:white;
    //box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-bottom: 1px solid rgb(233, 233, 233);
}

#filterInput{
    border: none;
    background-color: transparent;
    outline-width: 0;
    margin-left: 1vw;
    width: 100%;
    height: 100%;
    color: rgba(87, 87, 87, 0.603);
}
#filterIcon{
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(61, 61, 61);
}