<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding>
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials useIdentityConfiguration="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Chatbot.Services.UserService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IUserService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.UserTypeService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IUserTypeService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.PermissionService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IPermissionService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.FunctionService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IFunctionService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.HistoryService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IHistoryService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.TaskResponseTypeService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.ITaskResponseTypeService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.RuleTypeService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IRuleTypeService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.EmployeeService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IEmployeeService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.AdministratorService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IAdministratorService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.RuleService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IRuleService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.AuthService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IAuthService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.ConversationService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IConversationService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.TaskService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.ITaskService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.Function_RuleService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IFunction_RuleService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Chatbot.Services.StatisticsService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Chatbot.Services.IStatisticsService" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
