<div id="MainContainer">
    <div id="title"><h1>Ajouter Utilisateur</h1></div>
    <form class="example-form" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input type="text" matInput placeholder="Ex. JohnDoe" formControlName="username" maxlength="50" required>
                <mat-hint *ngIf="usernameExist">Nom d'utilisateur existe déjà</mat-hint>              
              </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom</mat-label>
            <input type="text" matInput placeholder="Ex. Doe" formControlName="name" required maxlength="50">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Prènom</mat-label>
            <input type="text" matInput placeholder="Ex. John" formControlName="lastname" required maxlength="50">
          </mat-form-field>
        </div>
        <div class="row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Adresse</mat-label>
                <input type="text" matInput placeholder="Ex. Tunis" formControlName="address" maxlength="50">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput placeholder="Ex. JohnDoe@gmail.com"  formControlName="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Numero de téléphone</mat-label>
                <input type="number" matInput placeholder="Ex. 000000000" formControlName="telephoneNum" maxlength="8" minlength="8">
              </mat-form-field>
        </div>
        <div class="row">

              <mat-form-field style="width: 45%;" class="example-full-width" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput maxlength="50" formControlName="password" minlength="5" required>
                <mat-hint *ngIf="addUserForm.get('password').errors?.minlength">la longueur du mot de passe doit être supérieure à 5</mat-hint>              
              </mat-form-field>

              <mat-form-field style="width: 45%;" class="example-full-width"  appearance="outline">
                <mat-label>Répéter mot de passe</mat-label>
                <input type="password" matInput maxlength="50" minlength="5" formControlName="passwordRepeat" required>
                <mat-hint *ngIf="addUserForm.controls.passwordRepeat.errors?.confirmedValidator">Mot de passe incorrect</mat-hint>              
              </mat-form-field>
        </div>
        <div class="row">

              <mat-form-field appearance="fill">
                <mat-label>Fonction</mat-label>
                <mat-select name="fonction" formControlName="function" required>
                  <mat-option *ngFor="let f of functions" [value]="f.id">
                    {{f.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
          <button mat-dialog-close type="button" id="cancelBtn" mat-stroked-button color="warn">ANNULER</button>
          <button type="submit" id="addBtn" mat-raised-button color="primary" [disabled]="addUserForm.invalid">AJOUTER</button>
        </div>
      </form>
</div>
<app-loading-screen *ngIf="loading"></app-loading-screen>