<div id="spinnerContainer" *ngIf="!task">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>
<div id="MainContainer" *ngIf="task">
  <div id="header" mat-dialog-title>
    <h1 id="title" align="center">{{task.title}}</h1>
    <div id="description" align="center">{{task.description}}</div>
    <div id="type" align="center">{{task.ruleType}}</div>
  </div>
  <div id="accordionContainer">
    <mat-accordion *ngIf="task" class="example-headers-align">
      <!--------Triggers---------->
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>Déclencheurs</mat-panel-title>
          <mat-panel-description>Déclencheurs de la règle</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let t of task.triggers">
            <div>{{t.message}}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <!--------Fonctions------->
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>Fonctions</mat-panel-title>
          <mat-panel-description>Fonctions des utilisateurs autorisées à utiliser la règle</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let f of functions">
            <div>{{f.title}}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <!--------API---------->
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>API</mat-panel-title>
          <mat-panel-description>Détails de l'API</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <div><span class="detailsTitle">API</span>&nbsp;{{task.api}}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div><span class="detailsTitle">Méthode</span>&nbsp;{{task.method}}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div><span class="detailsTitle">Type de Réponse</span>&nbsp;{{task.responseType}}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="task.responseType == 'statistique'">
            <div><span class="detailsTitle">Type de statistique</span>&nbsp;{{task.graphType}}</div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <!--------Sequence Messages---------->
      <mat-expansion-panel *ngIf="task.sequenceMessages.length != 0" [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
          <mat-panel-title>Séquence</mat-panel-title>
          <mat-panel-description>Ensemble de messages chatbot</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <ng-container *ngFor="let s of task.sequenceMessages">
            <mat-list-item>
              <div><span class="detailsTitle">Type de message de séquence</span>&nbsp;{{s.sequenceType}}</div>
              &nbsp;&nbsp;&nbsp;<div><span class="detailsTitle">Attribut</span>&nbsp;{{s.attribute}}</div>
            </mat-list-item>
            <mat-list-item>
              <div><span class="detailsTitle">Question</span>&nbsp;{{s.question}}</div>
            </mat-list-item>
          <ng-container *ngIf="s.sequenceType == 'options'">
            <mat-list-item *ngFor="let o of s.optionMessages">
              <div><span class="detailsTitle">Option</span>&nbsp;{{o.message}}</div>
              &nbsp;&nbsp;&nbsp;<div><span class="detailsTitle">Valeur</span>&nbsp;{{o.value}}</div>
            </mat-list-item>
          </ng-container>
          <ng-container *ngIf="s.sequenceType == 'saisie'">
            <mat-list-item>
              <div><span class="detailsTitle">Type de reponse</span>&nbsp;{{s.valueType}}</div>
            </mat-list-item>
            <mat-list-item>
              <div><span class="detailsTitle">Type de controle</span>&nbsp;{{s.controlType}}</div>
            </mat-list-item>
          </ng-container>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!--<button id="returnBtn" mat-dialog-close mat-raised-button color="accent">Retourner</button>-->
  <mat-dialog-actions id="footer">
    <div mat-ripple mat-dialog-close id="update" [routerLink]="['/regles/modifierTache',task.title]">
      <mat-icon>settings</mat-icon>
    </div>
    <div mat-ripple mat-dialog-close id="delete" (click)="openDeleteTaskDialog(task)">
      <mat-icon>delete</mat-icon>
    </div>
  </mat-dialog-actions>
</div>